/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/components/layout.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.layout_container__XI0Sj {
    display: flex;
}
.layout_column__B_KCU {
    flex: 1;
}
.layout_greetings__4fZ17 {
    display: flex;
    flex-direction: column;
}
.layout_f8__nf1U_ {
    flex: 8;
}
.layout_app_inner_page__4m0yJ {
    background-color: #fff;
    min-height: 100vh;
    color: var(--color-secondary);
    padding: 15px;
}
.layout_header__h9sve {
    padding: 10px;
}
.layout_footer__r4syy {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
    background-position: 10% 90%;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-size: auto auto;
}
.layout_footer__r4syy .layout_column__B_KCU{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout_search__TrrqI fieldset {
    border: none;
    background-color: #f6f6f6;
}
.layout_search__TrrqI .layout_inputAdornment__Qv479 {
    z-index: 2;
}
.layout_search__TrrqI input {
    z-index: 2;
    font-size: 12px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/app/menu/menu.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.menu_menu_list__IBfg5 {
    display: flex;
    flex-wrap: wrap;  
}
.menu_menu_item__zt_6u {
    box-shadow: 0px 0px 4px 0px #aaa;
    overflow:hidden;
    flex-direction:column;
    align-items:center;
    font-size:larger;
    flex-basis: 43%;
    text-align:center;
    margin:10px;
    background-color: #333;
    border-radius: 15px;
    border:1px solid #ccc;
    background-color: #fff;
}
.menu_menu_item__zt_6u:hover {
    opacity:0.9;
    cursor: pointer;
}
.menu_menu_item__zt_6u h6{
    margin:5px;
    font-size: 12px;
    text-align: left;
}
.menu_menu_item__zt_6u img {
    -o-object-fit:cover;
       object-fit:cover;
    max-height:200%;
}

.menu_addons_list__xo1GR {
    display: flex;
}
.menu_addons_list__xo1GR li {
    background-color: #f6f6f6;
    font-size: 12px;
    flex-direction: row;
    flex: 1;
    margin: 5px;
    padding:5px 10px;
}
.menu_topsellers_item__9h3Pm {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-bottom: 10px;
}
.menu_topsellers_item__9h3Pm img{
    -o-object-fit:cover;
       object-fit:cover;
    border-radius: 20px;
}
.menu_topsellers_meta__8MkcH button{
    font-size: 12px;
}
