.preparing {
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    padding:8px 15px;
    float: right;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #FF7A00;
}
.served {
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    padding:8px 15px;
    float: right;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #12BF38;
}
.serving {
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    padding:8px 15px;
    float: right;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #4285F4;
}

.statusIndicator {
    border-radius:100px;
    background-color: #4285F4;
    content: '';
    height:15px;
    width:15px;
    display: inline-block;
    margin-right: 15px;
}

.orders {
    border-radius: 15px;
    box-shadow: 0 0 3px #ccc;
    padding: 10px;
}
.order {
    margin-left: 20px;
}