@tailwind base;
@tailwind components;
@tailwind utilities;
@import "sweetalert2/dist/sweetalert2.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #fff;
  --background-end-rgb: #fff;

  --color-primary: #db1b1b;
  --color-secondary: #000;
  --color-tertiary: #fff;

  --fontsize-primary: 20px;
  --flip: flip;
  --fadeInDown: fadeInDown;
}
.button-primary {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border-radius: 20px;
  width: 100%;
  font-size: var(--fontsize-primary);
  padding: 8px;
}
.button-secondary {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 20px;
  width: 100%;
  font-size: var(--fontsize-primary);
  padding: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: var(--color-primary);
}
.swal2-container .swal2-popup {
  /* background: rgba(255, 255, 255, 0.7); */
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vh;
}
.swal2-backdrop-show {
  padding: 0;
  border-radius: 0px;
}
